body{
  background-color: pink;
}

nav{
  background-color: #FF4A84; 
/**position:absolute;*/
  position:fixed;
  top: 0; 
  left: 0;
  width: 100%;
  /**margin-top: 20px;*/

  font-family:Georgia, serif;
}

nav a{
  
  float:left;
  display: flex;
  padding-left: 20px;
  
   text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: black;
    background-color: #FF4A84; 
padding:9px;
}

nav a:hover {
    background-color: #FE5F92;
  color: black;
  
}

.home a:hover{
    background-color: #FF4A84;
}



.dd {
  float: left;
  
}

.dd .ddbtn {
  font-size: 20px;  
  border: none;
  outline: none;
  color: black;
  padding: 9px;
  background-color: inherit;
   font-weight: bold;
 font-family:Georgia, serif;
  margin: 0;
}

.dd:hover .ddbtn {
  background-color: #FE5F92;
}

.ddc1 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.ddc1 a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
  text-align: left;
}

.ddc1 a:hover {
  background-color: #ddd;
 
}

.dd:hover .ddc1 {
  display: block;
}

.mubtn{
  
}

.mubtn a:hover{
  color:red;
  
}









.user{
  margin-left: 900px;
}
.li{
 
  
}


.li a:hover{
 
}

.su{
  
}

.search{
  
  margin-top: 5px;
  width: 250px;
  height: 25px;
  }


main{
  margin-top: 60px;
  text-align: center;
  font-size: 24px;
}






.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); /
}


.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

  

input[type="radio"] {
  margin-right: 0;
}

.rcontainer {
  display: in-line;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  
}

/* Hide the browser's default radio button */
.rcontainer input {
  position: relative;
  
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;

  border-radius: 50%;
}
.s1{
   background-color: #271800;
}
.s2 {

  background-color: #240E00;

}

.s3{
  background-color: #442A00;

}

.s4{
  background-color: #421A00;

}

.s5{
  background-color: #5D3B00;

}

.s6{
  background-color: #5D2500;

}


/* When the radio button is checked, add a blue background */
.rcontainer input:checked ~ .checkmark {
  border: 3px solid #FF0052;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.rcontainer input:checked ~ .checkmark:after {
  display: block;
}











/**check boxes*/
/* check boxes*/
.ccontainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

/* Hide the browser's default checkbox */
.ccontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.ccheckmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.ccontainer:hover input ~ .ccheckmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.ccontainer input:checked ~ .ccheckmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.ccheckmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.ccontainer input:checked ~ .ccheckmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.ccontainer .ccheckmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}













.submitbtn{
  width: 100px;
  height:50px;
  font-size:20px;
  padding: 10px;
}



.search2{
   width: 270px;
  height: 30px;
  margin-top: 20px;
}
ul{

}